@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #fff;
    font-family: 'Lato', sans-serif
    
}

:root{
    --padding-container: 100px 0;
    --color-tittle: #001A49;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows:100px 1fr;

}

.nav{
    --padding-c3ontainer: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color:#2563C6;
}
.nav_tittle{
    font-weight: 600;

}

.nav_link{
    margin-left: auto;
    padding: 0 45px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    gap: 2em;

}


.nav_items{
    list-style: none;
}


.nav_links, .nav_inicio{
    color: #fff;
    padding: 0;
}

.nav_inicio{
    margin-left: 60px;
    font-weight: 600;
    font-size: 30px;
}

.nav_logo{
    background-image: url('/images/Shankfast.jpeg');
    background-size: cover;
    position: absolute;
    margin-left: 60px;
    width: 50px;
    height: 50px;
}
